<a href="https://colab.research.google.com/github/heavidevi/experiment-with-python/blob/main/ipynb%20files/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

reading a file

In [ ]:
import pandas as pd
df1 = pd.read_table(r'countries of the world.txt')
#pd.set_option("display.max.rows",100)
#pd.set_option("display.max.column",2)
#df.shape

details=df1.loc[df1['Country']=='Afghanistan']
print(details)

filtering and ordering

In [ ]:
import pandas as pd
df2=pd.read_csv(r"world_population.csv")
df2[df2['Rank']<=10].sort_values(by=['Rank'])

In [ ]:
specific_coutries=["Bangladesh","Brazil"]
df2[df2['Country'].isin(specific_coutries)]

In [ ]:
df2[df2['Country'].str.contains('United')] #to find similiar data
df2[df2['Country'].isin(['India'])] #to find exact data

In [ ]:
df2.filter(items=['India'], axis=1)
#will oy out this thing not like isin function

In [ ]:
df2=df.set_index('Country')
df2.reset_index(inplace=True)#to have new index

In [ ]:
df2.loc['India']

In [ ]:
df2.sort_values(by=['Continent','Country'],ascending=[False,True]) #will make respective order coliniear to continent and country

indexing

In [ ]:
df2.set_index('Country',inplace=True) #to set country as index
df2.reset_index(inplace=True) #to avea separate index
df2.set_index(["country","continent"], inplace=True)# to have 2 index

Group by and aggregating

In [ ]:
import pandas as pd
dataframe=pd.read_csv(r"flavors.csv")
#gtoup by is sed to make groups of duplicate values.

In [ ]:
group_by_frame=dataframe.groupby('Base Flavor') #it ccreates na object of group of this data frame by group by
print(group_by_frame.mean())
#select only columns which has numerical values. it cannot consider it.
group_by_frame.sum()
group_by_frame.max()
group_by_frame.count()
group_by_frame.min()

In [ ]:
dataframe.agg({'Flavor Rating':['mean','max','min'],'Texture Rating':['mean','max','min']})
#aggregate makes an can use any heading and combine it have communative results

In [ ]:
dataframe.groupby(['Base Flavor','Liked']).describe()

In [ ]:
dataframe.groupby(['Base Flavor','Liked']).mean()

Merge,join and concaternating

In [ ]:
import pandas as pd
dataframe1=pd.read_csv(r"LOTR.csv")
dataframe2=pd.read_csv(r"LOTR 2.csv")
#MERGE JOIN AND CONCAT IS SIIMILIAR TO SQL INNER,OUTER, LEFT AND RIGHT JOIN
#merge joins only common area

In [ ]:
dataframe1.merge(dataframe2)#merges only common grounds

In [ ]:
dataframe1.merge(dataframe2,how='inner',on='FellowshipID')
dataframe1.merge(dataframe2,how='inner',on=['FellowshipID','FirstName'])#automatically pulls according to both data

In [ ]:
dataframe1.merge(dataframe2,how='outer')#outer join

In [ ]:
dataframe1.merge(dataframe2,how='left')#left join. considers common from both table and un common value from datframe2

In [ ]:
dataframe1.merge(dataframe2,how='right')#does the exact opposite of left.

In [ ]:
dataframe1.merge(dataframe2,how='cross')#cross join
#basically matches each uncommon thing with resepective values from df1

In [ ]:
dataframe1.join(dataframe2,on='FellowshipID',how='outer',lsuffix='_left',rsuffix='_right')
#when joining dataframe we need have an base id and specify about which column depends to which dataframe

In [ ]:
dataframe3=dataframe1.set_index('FellowshipID').join(dataframe2.set_index('FellowshipID'),lsuffix='_left',rsuffix='_right',how='outer')
#making a new dataframe which has old dataframes togeether inside. plus highlighted how should columns to be labelled.

In [ ]:
#concatinate. Adding dataframe another dataframe below this dataframe. similiar to append
pd.concat([dataframe1,dataframe2],ignore_index=True)

In [ ]:
pd.concat([dataframe1,dataframe2],join='inner')

In [ ]:
dataframe1.append(dataframe2)
#similiar to concat . doesnt work all the time

data visualization in pandas

In [ ]:
import numpy as np

import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv(r"Ice Cream Ratings.csv")
data=data.set_index('Date')
data

In [ ]:
data.plot(kind="line",title="Ice cream ratings",xlabel="daily rating",ylabel="rating")

In [ ]:
data['Flavor Rating'].plot(kind="bar",title="Ice cream ratings",xlabel="daily rating",ylabel="rating")
#it only plot for the specified data written

In [ ]:
data.plot.barh(stacked=True)
#barh is horizontal bar

In [ ]:
data.plot.scatter(x='Texture Rating',y='Overall Rating',s=100,c="Yellow") #colour of scatter
#its important to mention x,y in scatter plot

In [ ]:
data.plot.hist(y='Overall Rating',bins=20)
#bins are basically lines in the graph

In [ ]:
data.boxplot()

In [ ]:
data.plot.area(figsize=(10,5))
#figsize is size of the plot

In [ ]:
data.plot.pie(y='Overall Rating',figsize=(5,5))
#specification of column needed

In [ ]:
print(plt.style.available)
plt.style.use('use any style u like')

data cleaning in pandas

In [ ]:
import pandas as pd
dataframe3=pd.read_excel(r"Customer Call List.xlsx")
dataframe3

In [ ]:
dataframe3=dataframe3.drop_duplicates()
#to remove uneccssary duplicates

In [ ]:
dataframe3.drop(columns="Not_Useful_Column")
#to delete a column

In [ ]:
dataframe3['Last_Name'].str.strip()
#we basically replace the not available value. removes empty space

In [ ]:
dataframe3['Last_Name']=dataframe3['Last_Name'].str.lstrip("...")
#lstrip=left strip remove from left. can only be used one by one

In [ ]:
dataframe3['Last_Name']=dataframe3['Last_Name'].str.strip("123._/")
#removing data all unneccessary data at once

In [ ]:
dataframe3['Phone_Number']=dataframe3['Phone_Number'].str.replace('[^a-zA-Z0-9]','')
dataframe3['Phone_Number']
#only accepts this and removeeverything else in replade

In [ ]:
dataframe3["Phone_Number"]=dataframe3["Phone_Number"].apply(lambda x: str(x))
#changes all phone numebr to string
dataframe3["Phone_Number"]=dataframe3["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
dataframe3["Phone_Number"]
#manipulated data to accordint o out needs

In [ ]:
dataframe3[["streetaddres","state","zipcodes"]]=dataframe3['Address'].str.split(',',expand=True)
#sepaaratign column into 3 different column

In [ ]:
dataframe3['Paying Customer']=dataframe3['Paying Customer'].str.replace('Yes','Y')
dataframe3['Paying Customer']=dataframe3['Paying Customer'].str.replace('No','N')

dataframe3['Do_Not_Contact']=dataframe3['Do_Not_Contact'].str.replace('Yes','Y')

In [ ]:
dataframe3=dataframe3.replace('N/a','')
dataframe3=dataframe3.fillna('') #filling all blank values with empty

In [ ]:
#removing all people who have labelled do not contact as yes
for x in dataframe3.index:
    if dataframe3.loc[x,'Do_Not_Contact']=='Y':
        dataframe3.drop(x,inplace=True)
dataframe3

In [ ]:
#removing people with empty phone number
for x in dataframe3.index:
    if dataframe3.loc[x,'Phone_Number']=='':
        dataframe3.drop(x,inplace=True)
dataframe3

In [ ]:
dataframe3=dataframe3.reset_index(drop=True)
#reeseting index for the newer data

exploratory data analysis(eda) in panda

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df3=pd.read_csv(r"world_population.csv")
df3

In [ ]:
pd.set_option("display.float_format", lambda x:'%.2f' %x)
#changes all float numbers to 2s.f
df3

In [ ]:
df3.info()
#prvides info of dataframe

In [ ]:
df3.isnull().sum()
#provdes sum of null values in te dataframe

In [ ]:
df3.nunique()
#tells about unique values in each column

In [ ]:
df3.sort_values(by="2022 Population",ascending=False).head(10)

In [ ]:

#having corelation within each column
df3.corr(numeric_only=True)
#only works for numeric values
#1 mean having 1:1 realtion
#other relation means related inverse

In [ ]:
sns.heatmap(df3.corr(numeric_only=True),annot=True)
#making the map of how corelation
plt.figure(figsize=(10,10))#increasing figure size
plt.show()

In [ ]:
df3=df3.groupby('Continent')[df3.columns[5:13]].mean(numeric_only=True)
#only works for numerical values

In [ ]:
df3[df3["Continent"].str.contains("Oceania")]

In [ ]:
df3.plot()

In [ ]:
df3=df3.transpose()
df3.plot(figsize=(10,10))
#it reverse the axis

In [ ]:
df3.select_dtypes(include='number')
#calls all kind of number into it